<div  class="hero-container">
  <div class="hero-image" style="background-image: url('/assets/img/alsace_nyc_default_bg.png');">
  </div>

  <div class="container hero-body">
    <div class="row home">
      <div class="col-md-8 col-xs-12 l-col">
        <section>
          <h1>Make a Donation</h1>
          <p>Thanks you for your support. To make a donation...</p>

        </section>
      </div>

      <div class="col-md-4 col-xs-12 r-col">
        <div class="img-wrap text-xs-center">
          <img src="/assets/img/alsace_steuben_parade_new_york.jpeg" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>

