<div class="hero-container" [@fadeInOut]="ready">

  <div class="hero-image"
       style="background-image: url('/assets/img/union_alsacienne_new_york_home.jpg')">
  </div>

  <div class="container hero-body">
    <div class="row events">
      <div class="col-md-8 col-xs-12 l-col">

        <div class="">
          <h1>alsace.nyc, the Blog</h1>

        </div>
        <app-spinner [value]="loadedComponent.indexOf('app-post-list') == -1"></app-spinner>
        <app-post-list (listLoaded)="updateLoadingThread($event)"></app-post-list>
      </div>

      <div class="col-md-4 col-xs-12 r-col">

      </div>
    </div>
  </div>

</div>
