<ul class="list-unstyled event-list">
  <li *ngFor="let event of events | eventToCome" class="event-preview">
    <div class="date-cube">
      <div class="text">{{ event.starting_date | moment | date:'d' }}</div>
      <div class="text">{{ event.starting_date | moment | date:'MMM yy' }}</div>
    </div>
    <a class="h4" [innerHtml]="event.title.rendered" [routerLink]="['/event', event.slug]"></a>
    <p><strong>{{ event.venue }}</strong>
        <br>
      {{ event.address }}
    </p>
    <p>
      <span [innerHtml]="event.excerpt.rendered"></span>
      <a [routerLink]="['/event', event.slug]">[more info]</a></p>
    <hr>
  </li>
</ul>
