@import "../../../../assets/variables";

.navbar{
  background-color:@gray_alsace;
  border-radius:0;
  & div.navbar-top{
    & .navbar-brand{
      max-width:150px;
      height:auto;
    }
    & ul.navbar-nav{
      & a.navbar-brand{
        padding:.3em 1em;
      }
      & li.nav-item{
        & .nav-link{
          border-bottom:2px solid transparent !important;
          padding:.3em 1em;
          cursor: pointer;
          &.active{
            color:black;
            border-bottom-color:@red_alsace !important;
          }
          &:hover{
            color:@red_alsace;
          }
          &.active, &:hover{
            border-bottom-color:@red_alsace !important;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar{
    display:none;
  }
}
