<h3>Stay in touch</h3>

<section *ngIf="!submitted" [@fadeInOut]="submitted">
  <p>Subscribe to our newsletter to stay in touch with us!</p>
  <form (ngSubmit)="onSubmit(subscription)" [formGroup]="subscription" novalidate>
    <div class="form-group" style="width:100%;">
      <div class="input-group input_mobile_adjust" style="width:100%;">
        <input
          type="email"
          class="form-control"
          placeholder="email.@email.com"
          formControlName="email_address">
      </div>
      <p class="error" style="font-size:.8em;color:red;"
         *ngIf="subscription.get('email_address').hasError('required')
                    && subscription.get('email_address').touched">
        Please enter your email.
      </p>
    </div>

    <div class="submit" style="text-align:right;padding-bottom:1em;">
      <button type="submit"
              name="subscribe"
              class="btn btn-primary btn-alsace"
              [disabled]="subscription.invalid">Subscribe</button>
    </div>
  </form>

  <section *ngIf="error" [@fadeInOut]="error">
    <p class="error" style="margin-top:.3em;font-size:.8em;color:red;">{{ errorMessage }}</p>
  </section>

</section>

<section *ngIf="submitted" style="padding:.5em;background-color:white;" [@fadeInOut]="submitted">
  <p style="margin-bottom: 0;">Thank you !</p>
</section>

