<div class="hero-container">
  <div *ngIf="post" class="hero-image"
       [ngClass]="(post.feat_url) ? '' : 'no-image'"
       [ngStyle]="{'background-image' : post.feat_url }">
  </div>
  <div class="container hero-body">
    <div class="row home">
      <div class="col-md-8 col-xs-12 l-col" style="min-height:500px;">
        <app-spinner [value]="!post && !user"></app-spinner>
        <section *ngIf="post && user" [@fadeInOut]="post">
          <h1 [innerHtml]="post.title.rendered" ></h1>
          <p class="small">
            {{ post.date | date}} by
            <span style="text-transform: capitalize;">
            {{ user.name }}
          </span>
          </p>
        <p [innerHtml]="post.content.rendered"></p>
        </section>
      </div>

      <div class="col-md-4 col-xs-12 r-col">
        <p>TBD</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!post || !user" class="">

</div>
