@import '../../node_modules/bootstrap/dist/css/bootstrap-flex.min.css';
@import '../../node_modules/font-awesome/less/font-awesome.less';
@import 'variables';
@import 'mixins';

html {
  position: relative;
  height: 100%;
}

body{
  font-family: 'Ubuntu', sans-serif;
  max-height: 100%;
	box-sizing:border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-content {
  max-height: 100vh;
  overflow-y:auto;
	-webkit-overflow-scrolling: touch;
	@media (max-width: 767px) {
		padding-bottom: (@footer-height);
	}
}

div {
	box-sizing:border-box;
}

/*******************
* TYPOGRAPHHY
*******************/
h1,h2,h3,h4,h5,h6,a,.h1,.h2,.h3,.h4,.h5,.h6,.a{
  color:@red_alsace;
}

.p{
  color:#373a3c;
}

a{
  &:hover, &:focus{
    -webkit-transition: color,300ms,ease;
       -moz-transition: color,300ms,ease;
         -o-transition: color,300ms,ease;
            transition: color,300ms,ease;
    color:darken(@red_alsace,5);
    text-decoration:none;
  }
}

/*******************
* LAYOUTS
*******************/
.hero-container{
  .hero-image{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 250px;
    background-size: cover;
  }
  .hero-body{
    margin-top:10em;
    & .l-col{
      padding:1em;
    }
  }
}

.l-col {
  background-color:white;
}

.r-col{
  background-color:@gray-lighter;
  padding:1em;
  & .img-wrap{
    padding:.5em;
  }
}
/*******************
* FORMS
*******************/
form {
	& .form-error{
		color:@red_alsace;
		font-size:.8em;
	}

	& .form-group{
		& .form-control{
			border-radius:0;

			&.ng-valid[required]{
				&.ng-untouched{
					border-color:rgba(0,0,0,.15);
				}
				&.ng-touched{
					border-color:@vine;
				}
			}

			&.ng-invalid{
				&.ng-untouched{
					border-color:rgba(0,0,0,.15);
				}
				&.ng-touched{
					border-color:@red_alsace;
				}
			}
		}
	}
}
