<div class="hero-container">

  <div class="hero-image no-image">
  </div>

  <div class="container hero-body" [@fadeInOut]="ready">
    <div class="row home">
      <div class="col-md-8 col-xs-12 l-col">
          <div class="home-intro">
            <p>
              Founded in 1871, L'Union Alsacienne of New York is a vibrant organization of people
              from Alsace living in the United States, and of Alsaciens-Americans, dedicated to upholding the Alsace heritage, and to promoting Alsace.
              <a routerLink='/p/about-us' >[read more]</a>
            </p>
          </div>

        <app-spinner [value]="loadedComponent.indexOf('app-event-list') == -1
                              || loadedComponent.indexOf('app-post-list') == -1"></app-spinner>

        <section [ngClass]="(loadedComponent.indexOf('app-event-list') != -1
                        && loadedComponent.indexOf('app-post-list') != -1) ? 'hidden loaded' : 'hidden'">
          <h3>Next Events</h3>
          <app-event-list (listLoaded)="updateLoadingThread($event)"></app-event-list>
          <h3>Our Blog</h3>
          <app-post-list (listLoaded)="updateLoadingThread($event)"></app-post-list>
        </section>

      </div>

      <div class="col-md-4 col-xs-12 r-col">
        <app-mchimp-form></app-mchimp-form>
        <app-sponsor-list></app-sponsor-list>
        <div class="img-wrap text-xs-center">
          <img src="/assets/img/alsace_steuben_parade_new_york.jpeg" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
